body {
    font-size: 1rem;
}
h4 {
    font-weight: 500;
}
h1, h2, h3, h4 {
    margin-top: 2.5em;
    margin-bottom: 1em;
}
main h1:first-child {
    margin-top: 0;
}
nav.nav-left :first-child {
    margin-top: 0;
}
@media (min-width: 768px) {
    .sticky-nav {
        top: 4em;
        position: -webkit-sticky;
        position: sticky;
    }
    .sticky-nav nav.nav-left {
        overflow-y: scroll;
        height: calc(100vh - 4em);
    }
}

nav.nav-left,
main,
#toc {
    padding-top: 2em;
    padding-bottom: 2em;
}
nav.nav-left {
    padding-bottom: 2em;
}
nav.nav-left .nav-item {
    margin: 0.25em 0;
}
nav.nav-left .nav-item a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}
nav.nav-left .nav-item a:hover {
    color: #3E3F3A !important;
}
nav.nav-left .nav-item.active a {
    color: #93C54B !important;
}
nav.nav-left .nav-item a span {
    font-weight: 300;
    font-size: 0.9em;
}

.page-container {
    padding-top: 4em;
}
.navbar {
    min-height: 4em;
}
.navbar .nav > li > a {
    color: white;
}
.navbar .collapse.in {
    display: block;
}

.iframe-github {
    display: flex;
    align-items: center;
}

.file {
    background-color: rgba(0, 0, 0, 0.08);
    padding: 6px 15px;
    margin: 0 -15px;
    display: inline-block;
    border-radius: 0.5em 0.5em 0 0;
}
.file + div[class*="language-"] pre.highlight {
    margin-top: 0;
}
.arrow-up {
    margin: .5em 0;
}
@media (min-width: 768px) {
    .file {
        margin: 0;
    }
}
.jumbotron {
    font-size: 1em;
    min-height: 200px;
    padding: 25px 0;
    background-image: url("../img/triangles-bg.png");
    background-color: rgb(121, 167, 54);
    color: white;
    text-shadow: 0 0 22px rgba(0, 0, 0, 0.75);
}
.jumbotron h1 {
    font-size: 3em;
    margin: 0;
}
.jumbotron p {
    font-size: 1em;
    margin: 1em 0;
}
.jumbotron a {
    font-size: 1em;
}
@media (min-width: 768px) {
    .jumbotron {
        font-size: 1.5em;
        min-height: 400px;
        padding: 75px 0;
    }
    .jumbotron a {
        padding: 0.75em 1.5em;
    }
}
/**
 * pre code: full width in mobile
 */
@media (max-width: 768px) {
    div[class*="language-"] {
        margin-left: -15px;
        margin-right: -15px;
    }
    div.prism-show-language > div.prism-show-language-label {
        right: 15px;
    }
}
.jumbo-links {
    display: flex;
    align-items: center;
}
.jumbo-links > *:not(:first-child) {
    margin-left: 1em;
}

.home-content {
    font-size: 1.25em;
    margin-bottom: 5em;
}
.home-content .lead {
    font-size: 1.25em;
}
.home-content .btn {
    font-size: 1em;
    padding: 1em;
}

.btn-github {
    background-color: #323131;
    border-color: rgba(0, 0, 0, 0.5);
}
footer {
    background-color: #f8f5f0;
    padding: 24px 0 42px 0;
}
footer i:before {
    color: #3e3f3a;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
}

th, td {
    border: 1px solid #ccc;
    padding: 0.33em;
}

th {
    background-color: #f5f2f0;
}

blockquote.card-blockquote {
    margin-bottom: 0;
}
blockquote.card-blockquote > :last-child {
    margin-bottom: 0;
}

/**
 * toc
 */
nav[data-toggle='toc'] .nav {
  flex-direction: column;
}
/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }

  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
}
nav[data-toggle="toc"] .nav > li > a {
    font-size: .9em;
}
nav[data-toggle="toc"] .nav .nav > li > a {
    font-size: .8em;
}
nav[data-toggle="toc"] .nav > li > a:focus
nav[data-toggle="toc"] .nav > .active:focus > a,
nav[data-toggle="toc"] .nav > .active:hover > a,
nav[data-toggle="toc"] .nav > .active > a {
    color: #93C54B;
    border-left: 2px solid #93C54B;
}
nav[data-toggle="toc"] .nav > li > a:focus,
nav[data-toggle="toc"] .nav > li > a:hover {
    color: #93C54B;
    border-left: 1px solid #93C54B;
}


/**
 * search
 */
#search-box {
    width: 100%;
}
input.form-control.search {
    margin-top: 0.5em;
    width: 100%;
}
.search-dropdown {
    position: fixed;
    right: 15px;
    left: auto;
    font-size: 0.8em;
    margin-left: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
    border-radius: 0.4em;
}
@media (min-width: 576px) {
    input.form-control.search {
        margin-top: 0;
        width: 18em;
    }
    .search-dropdown {
        margin-left: 0;
        top: 4.5em;
        width: 40em;
    }
}
@media (min-width: 992px) {
    input.form-control.search {
        width: 24em;
    }
    .search-dropdown {
        width: 50em;
    }
}
@media (min-width: 1200px) {
    input.form-control.search {
        width: 32em;
    }
}

.search-dropdown a {
    color: #3E3F3A;
    text-decoration: none;
    outline: 0;
}
.algolia__result-highlight {
    color: #29ABE0;
}
.search-dropdown h1,
.search-dropdown h2,
.search-dropdown h3,
.search-dropdown h4,
.search-dropdown h5,
.search-dropdown h6 {
    margin: 0 0 0.25em 0;
}
.search-dropdown p {
    margin: 0;
}
.search-dropdown i {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}

/*
 * snippet from algolia
 */
.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.branding {
    font-size: 1.3em;
    margin: 0.5em 0.2em;
}

.branding img {
    height: 1.3em;
    margin-bottom: - 0.3em;
}
