body {
    font-size: 1rem;
}
h4 {
    font-weight: 500;
}
h1, h2, h3, h4 {
    margin-top: 2.5em;
    margin-bottom: 1em;
}
main h1:first-child {
    margin-top: 0;
}
nav.nav-left :first-child {
    margin-top: 0;
}
@media (min-width: 768px) {
    .sticky-nav {
        top: 4em;
        position: -webkit-sticky;
        position: sticky;
    }
    .sticky-nav nav.nav-left {
        overflow-y: scroll;
        height: calc(100vh - 4em);
    }
}

nav.nav-left,
main,
#toc {
    padding-top: 2em;
    padding-bottom: 2em;
}
nav.nav-left {
    padding-bottom: 2em;
}
nav.nav-left .nav-item {
    margin: 0.25em 0;
}
nav.nav-left .nav-item a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}
nav.nav-left .nav-item a:hover {
    color: #3E3F3A !important;
}
nav.nav-left .nav-item.active a {
    color: #93C54B !important;
}
nav.nav-left .nav-item a span {
    font-weight: 300;
    font-size: 0.9em;
}

.page-container {
    padding-top: 4em;
}
.navbar {
    min-height: 4em;
}
.navbar .nav > li > a {
    color: white;
}

.file {
    background-color: rgba(0, 0, 0, 0.08);
    padding: 6px 15px;
    margin: 0 -15px;
}
.file + div[class*="language-"] pre.highlight {
    margin-top: 0;
}
.arrow-up {
    margin: .5em 0;
}
@media (min-width: 768px) {
    .file {
        margin: 0;
    }
}
.jumbotron {
    font-size: 1em;
    min-height: 200px;
    padding: 25px 0;
    background-image: url("../img/triangles-bg.png");
    background-color: rgb(121, 167, 54);
    color: white;
    text-shadow: 0 0 22px rgba(0, 0, 0, 0.75);
}
.jumbotron h1 {
    font-size: 3em;
    margin: 0;
}
.jumbotron p {
    font-size: 1em;
    margin: 1em 0;
}
.jumbotron a {
    font-size: 1em;
}
@media (min-width: 768px) {
    .jumbotron {
        font-size: 1.5em;
        min-height: 400px;
        padding: 75px 0;
    }
    .jumbotron a {
        padding: 0.75em 1.5em;
    }
}
/**
 * pre code: full width in mobile
 */
@media (max-width: 768px) {
    div[class*="language-"] {
        margin-left: -15px;
        margin-right: -15px;
    }
    div.prism-show-language > div.prism-show-language-label {
        right: 15px;
    }
}
.jumbo-links {
    display: flex;
    align-items: center;
}
.jumbo-links > *:not(:first-child) {
    margin-left: 1em;
}
.btn-github {
    background-color: #323131;
    border-color: rgba(0, 0, 0, 0.5);
}
footer {
    background-color: #f8f5f0;
    padding: 24px 0 42px 0;
}
footer i:before {
    color: #3e3f3a;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
}

th, td {
    border: 1px solid #ccc;
    padding: 0.33em;
}

th {
    background-color: #f5f2f0;
}

blockquote.card-blockquote {
    margin-bottom: 0;
}
blockquote.card-blockquote > :last-child {
    margin-bottom: 0;
}

/**
 * toc
 */
nav[data-toggle='toc'] .nav {
  flex-direction: column;
}
/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }

  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
}
nav[data-toggle="toc"] .nav > li > a {
    font-size: .9em;
}
nav[data-toggle="toc"] .nav .nav > li > a {
    font-size: .8em;
}
nav[data-toggle="toc"] .nav > li > a:focus
nav[data-toggle="toc"] .nav > .active:focus > a,
nav[data-toggle="toc"] .nav > .active:hover > a,
nav[data-toggle="toc"] .nav > .active > a {
    color: #93C54B;
    border-left: 2px solid #93C54B;
}
nav[data-toggle="toc"] .nav > li > a:focus,
nav[data-toggle="toc"] .nav > li > a:hover {
    color: #93C54B;
    border-left: 1px solid #93C54B;
}
